.modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  color: black;
}

.modal-content {
  border-radius: 10px;
  background-color: #e0dcd8;
  margin: 5% auto;
  padding: 20px;
  width: 50%;
}

.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  font-size: 30px;
  text-decoration: none;
  cursor: pointer;
}

.answer-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.circle-icon {
  margin: 10px;
  font-size: 40px;
  cursor: pointer;
}

.green {
  color: rgb(13, 163, 13);
}

.red {
  color: rgb(213, 34, 25);
}

@media screen and (max-width: 768px) {
  .modal-content {
    width: 100%;
  }
}
