body {
  margin: 0;
  background: #e0dcd8;
  font-family: "Merriweather", Sans-serif;
}
.container {
  margin: auto;
  max-width: 1680px;
}

.content {
  margin: 50px 0px;
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.slider {
  margin-bottom: 15px;
}

.filter {
  margin-bottom: 20px;
  margin-left: 25px;
  display: flex;
}

@media (max-width: 1695px) {
  .list {
    justify-content: center;
  }
  .filter {
    justify-content: center;
    margin-left: 0px;
  }
}
